:root {
    --gap: clamp(0.75rem, 6.071vw - 0.464rem, 5rem);
    --inner-margin: clamp(1rem, 3.478vw + 0.304rem, 1.5rem);
    --outer-margin: clamp(1.25rem, 2.759vw + 0.603rem, 1.5rem);
    --input: clamp(13.375rem, 74.783vw - 1.582rem, 24.125rem);
    --shelf-width: clamp(18.75rem, 92.593vw + 0.231rem, 21.875rem);
    --key-width: clamp(7rem, 14vw + 4.2rem, 8.75rem);
}

body {
    background-color: #05171E;
    margin: 0;
}

header {
    background-color: #082029;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    margin: 8px 16px 8px 60px;
}

.subheading {
    font-size: 22px;
    margin-left: 8px;
}

h1 {
    font-size: 40px;
}

h1 span {
    font-size: 40px;
    color: #E15D57;
}

@media(max-width: 700px) {
    .subheading {
        display: none;
    }
}

@media(max-width: 520px) {

    header div {
        justify-content: center;
    }

    header div img {
        height: 56px;
        margin-left: 0;
    }

    h1, header span {
        font-size: 32px;
    }

    .shelf-level {
        font-size: 14px;
    }
}

@media(max-width: 374px){
    .shelf-level {
        width: var(--shelf-width);
    }
}

