:root {
    --gap: clamp(0.75rem, 6.071vw - 0.464rem, 5rem);
}

body {
    background-color: #04171F;
    margin: 0;
}

header {
    background-color: #082029;
    height: 80px;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 60px;
}

header span {
    font-size: 22px;
    margin-left: 8px;
}

#bookshelf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelf-level {
    margin: var(--gap);
    min-height: 500px;
    max-width: 400px;
    background-color: #0D3341;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1 1 300px;
}

.separator {
    min-height: 2px;
    flex: 1 1 0;
    width: 100%;
    background-color: lightblue;
}

.shelf-level h2 {
    text-align: center;
}

.shelf-level img {
    height: 120px;
    width: auto;
    margin: 24px;
}

.book-info {
    width: 100%;
}

.book-info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.book-info-body {
    display: flex;
    justify-content: flex-start;
    margin: 16px;
}

.key-column, .value-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.book-comments {
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.book-comments-wrapper {
    height: 160px;
    overflow-y: auto;
}

.books-comments-content-table {
    display: flex;
    flex-direction: column;
}

.books-comments-content-row {
    display: inline-flex;
    margin-bottom: 8px;
}

.books-comments-content-row span {
    width: 50%;
}

.book-add-comment {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.comment-input-style {
    height: 24px;
    width: 75%;
    min-width: 180px;
    color: antiquewhite;
    background-color: #124758;
    border: none;
    border-bottom: 2px solid lightblue;
    padding: 2px 8px;
}

.comment-input-style::placeholder {
    color: rgba(250, 235, 215, 0.667);
}

.like-btn {
    background: none;
    border: none;
    font-size: 30px;
    padding-bottom: 6px;
}

.like-btn:hover {
    cursor: pointer;
    background-color: #082029;
    border-radius: 10px;
}

/* .icon-liked {
    background-color: black;    
} */

.comment-btn {
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    padding-bottom: 6px;
}

.comment-btn:hover {
    cursor: pointer;
    background-color: #082029;

}